//tutaj lądują powtarzające się kolory, wymiary czcionki, odległości czy rodzaj i parametry animacji

$defaultTextColor: #000000;

$footer-background: #F7F7F7;
$footer-modal: #ffff;
$footer-color: #545454;
$bg-icon: #ff6b08;
$orange: #ff6b08;
$red: #ff001b;
$gray: #f7f7f7;
$darkgray: #545454;
$fontgray: #8c8c8c;

