//tutaj lądują powtarzające się kolory, wymiary czcionki, odległości czy rodzaj i parametry animacji

$defaultTextColor: #000000;
$footer-background: #F7F7F7;
$footer-modal: #ffff;
$footer-color: #545454;
$bg-icon: #ff6b08;