//tutaj lądują powtarzające się kolory, wymiary czcionki, odległości czy rodzaj i parametry animacji

$defaultTextColor: #000000;
$orange: #ff6b08;
$red: #ff001b;
$gray: #f7f7f7;
$darkgray: #545454;
$fontgray: #8c8c8c;
