  <footer class="container footer footer__list">
      <ul class="icon">
        <li class="footer__item">© 2023 | All Rights Reserved |</li>
        <li>
          Developed with<svg class="footer-item-icon"><use href="./images/project-icons.svg#icon-Vector"></use></svg>by<button
            type="button"
            class="footer__btn"
          >
            GoIT Students
          </button>
        </li>
      </ul>
    </footer>
<div class="visually-hidden backdrop" data-modal-team>
    <div class="visually-hidden team-modal">
        <div class="team-modal__btn--close">
            <!-- <svg width="" height="" class="">
                <use href=""></use>
            </svg> -->
        </div>
        <h2 class="team-modal__header">developers:</h2>
        <ul class="team-modal-list">
            <li class="team-modal__item"><img src="/src/images/dev/Profilowe_oficjalne_.jpg" alt="Photo Jarek Dzwolak" width="120"
                    height="120" class="team-modal__img">
                <div class="team-modal__text-wrap">
                    <p><span class="team-modal__caption">Jarosław Dzwolak</span>Team Leader</p>
                </div>
            </li>
            <li class="team-modal__item"><img src="/src/images/dev/Julek.jpg" alt="Photo Juliusz Janicki" width="120"
                    height="120" class="team-modal__img">
        
                <div class="team-modal__text-wrap"><p><span class="team-modal__caption">Juliusz Janicki</span>Scrum Master</p>
                </div>
            </li>
            <li class="team-modal__item"><img src="/src/images/dev/Kamil.jpg" alt="Photo Kamil Długosz" width="120" height="120" class="team-modal__img">
                <div class="team-modal__text-wrap">
                <p><span class="team-modal__caption">Kamil Długosz</span>Developer</p>
            
                </div>
            </li>
            <li class="team-modal__item">
                <div class="team-modal__text-wrap"><img src="/src/images/dev/Ola.jpg" alt="Photo Ola Walczak-Krus" width="120" height="120" class="team-modal__img">
                <p><span class="team-modal__caption">Ola Walczak-Kruś</span>Developer</p>
</div>
            </li>
                <li class="team-modal__item"><img src="/src/images/dev/Karolina.jpg" alt="Photo Karolina" width="120"
                        height="120" class="team-modal__img">
                    <div class="team-modal__text-wrap">
                        <p><span class="team-modal__caption">Karolina Kuszpa</span>Developer</p>
                    </div>
                </li>
            <li class="team-modal__item"><img src="/src/images/dev/Kuba.jpg" alt="Photo Jakub Piksa" width="120" height="120"
                    class="team-modal__img">
                <div class="team-modal__text-wrap">
                    <p><span class="team-modal__caption">Jakub Piksa</span>Developer</p>
                    
                </div>
            </li>
            <li class="team-modal__item"><img src="/src/images/dev/Dorota.jpeg" alt="Photo Dorota Heczko" width="120" height="120"
                    class="team-modal__img">
                <div class="team-modal__text-wrap">
                    <p><span class="team-modal__caption">Dorota Heczko</span>Developer</p>
        </ul>
    </div>
</div>
