<header class="header">
  <div class="header-wrapper">
    <div class="header-container">
      <!-- LOGO -->
      <div class="header__icon">
        <a href="index.html"><img src="/src/images/logo.svg" /></a>
        <a href="index.html" class="header__icon-text">Filmoteka</a>
      </div>

      <!-- NAV -->
      <nav class="header__navigate">
        <ul class="header__navigate-list">
          <li class="header__navigate-item header__navigate-item--active">
            <a href="/src/index.html" class="header__link header__link--active">HOME</a>
          </li>
          <li class="header__navigate-item">
            <a href="/src/library.html" class="header__link">MY LIBRARY</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- BUTTONS -->
    <div class="header__library-buttons">
      <button id="header-watched" type="button" class="library__button">Watched</button>
      <button id="header-queue" type="button" class="library__button">Queue</button>
    </div>
  </div>

  <!-- <img src="/src/images/logo.svg" />
  <img src="/src/images/close.svg" />
  <img src="/src/images/arrow-left.svg" />
  <img src="/src/images/arrow-right.svg" />
  <img src="/src/images/search.svg" />
  <img src="/src/images/heart.svg" /> -->
</header>
