<header class="header-wrapper">
  <div class="header-container">
    <div class="header-icon">
      <!-- <svg width="24px" height="24px">
        <use href="/src/images/project-icons.svg#icon-logo"></use>
      </svg> -->
    </div>
    <nav class="header__navigate">
      <ul class="header__navigate-list">
        <li class="header__navigate-item active">
          <a href="/src/index.html" class="underline-always">HOME</a>
        </li>
        <li class="header__navigate-item">
          <a href="/src/library.html" class="underline-on-hover">MY LIBRARY</a>
        </li>
      </ul>
    </nav>
  </div>
  <form class="form" id="form">
    <input
      id="Movie-search"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Movie-search"
    />
  </form>
  <button id="search-button">NA TYM PRZYCISKU O TYM ID MA SIĘ WYSZUKIWAĆ</button>
</header>
