<header class="header-wrapper">
  <div class="header-container">
    <div class="header-icon">
      <svg width="24px" height="24px">
        <!-- <use href="/src/images/project-icons.svg#icon-logo"></use> -->
      </svg>
    </div>
    <nav class="header__navigate">
      <ul class="header__navigate-list">
        <li>
          <a href="/src/index.html">HOME</a>
        </li>
        <li>
          <a href="/src/library.html">MY LIBRARY </a>
        </li>
      </ul>
    </nav>
  </div>
  <img src="/src/images/logo.svg" />
  <img src="/src/images/close.svg" />
  <img src="/src/images/arrow-left.svg" />
  <img src="/src/images/arrow-right.svg" />
  <img src="/src/images/search.svg" />
  <img src="/src/images/heart.svg" />
  <div class="header__library-buttons">
    <button id="header-Watched" type="button">Watched</button>
    <button id="header-Queue" type="button">Queue</button>
  </div>
</header>
