<header class="library">
  <div class="library__wrapper">
    <div class="library__container">
      <!-- LOGO -->
      <div class="library__icon">
        <a href="index.html"><img src="/src/images/logo.svg" /></a>
        <a href="index.html" class="library__icon-text">Filmoteka</a> 
      </div>

      <!-- NAV -->
      <nav class="library__navigate">
        <ul class="library__navigate-list">
          <li class="library__navigate-item">
            <a href="/src/index.html" class="library__link ">HOME</a>
          </li>
          <li class="library__navigate-item">
            <a href="/src/library.html" class="library__link library__link--active">MY LIBRARY</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- BUTTONS -->
    <div class="library__buttons-box">
      <button id="library-watched" type="button" class="library__button">Watched</button>
      <button id="library-queued" type="button" class="library__button">Queue</button>
    </div>
  </div>
</header>
