<div id="modal-backdrop" class="modal-backdrop">
  <div class="container">
    <!-- Tutaj JavaScript utworzy modal -->
  </div>
</div>

<!-- <div id="modal-backdrop" class="modal-backdrop">
  <div class="container">
    <div id="modal" class="modal">
      <button id="close-modal-btn" type="button" class="modal__close">X</button>
      <img id="modal-image" src="" alt="tytuł filmu" class="modal-image" />
      <div id="modal-text" class="modal__text" style="display: block">
        <h3 id="modal-title" class="modal__title"></h3>
        <div class="modal__info">
          <p class="modal__info__category">Vote / Votes</p>
          <p class="modal__info__details">
            <span class="modal__info__details__ranking"></span>
            <span></span>
          </p>
        </div>
        <div class="modal__info">
          <p class="modal__info__category">Popularity</p>
          <p class="modal__info__details"></p>
        </div>
        <div clas="modal__info">
          <p class="modal__info__category">Original Title</p>
          <p class="modal__info__details"></p>
        </div>
        <div clas="modal__info">
          <p class="modal__info__category">Genre</p>
          <p class="modal__info__details"></p>
        </div>
        <article class="modal__description">
          <p id="modal-description__modal">ABOUT</p>
          <p id="modal-decription"></p>
        </article>
        <div class="modal=buttons">
          <button id="watched-btn" class="button button--modal">ADD TO WATCHED</button>
          <button id="queue-btn" class="button button--modal">ADD TO QUEUE</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
