<div id="modal-backdrop" class="modal-backdrop">
  <div class="container">
    <div id="modal" class="modal">
      <button id="close-modal-btn" type="button" class="modal__close">X</button>
      <img id="modal-image" src="" alt="tytuł filmu" class="modal-image" />
      <div id="modal-text" class="modal__text" style="display: block">
        <h3 id="modal-title" class="modal__title"></h3>
        <div modal__info>
          <p class="modal__info__category">Vote / Votes</p>
          <p class="modal__info__details">
            <span class="modal__info__details__ranking"></span>
            <span></span>
          </p>
        </div>
        <div class="modal__info">
          <p class="modal__info__category">Popularity</p>
          <p class="modal__info__details"></p>
        </div>
        <div clas="modal__info">
          <p class="modal__info__category">Original Title</p>
          <p class="modal__info__details"></p>
        </div>
        <div clas="modal__info">
          <p class="modal__info__category">Genre</p>
          <p class="modal__info__details"></p>
        </div>
        <article class="modal__description">
          <p id="modal-description__modal">ABOUT</p>
          <p id="modal-decription"></p>
        </article>
        <div class="modal=buttons">
          <button id="watched-btn" class="button button--modal">ADD TO WATCHED</button>
          <button id="queue-btn" class="button button--modal">ADD TO QUEUE</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <button onclick="openModal()">Otwórz okno modalne</button>

<div id="myModal" class="modal is-hidden">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <div class="movie-details">
      <div class="poster" id="poster"></div>
      <div class="info">
        <h2 id="title"></h2>
        <p id="votes"></p>
        <p id="popularity"></p>
        <p id="original-title"></p>
        <p id="genre"></p>
        <p id="about"></p>
        <button onclick="addToWatched()">add to Watched</button>
        <button onclick="addToQueue()">add to queue</button>
      </div>
    </div>
  </div>
</div> -->
<script src="./modal.js"></script>
