.movie-container {
  max-width: 480px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  @include tablet {
    max-width: 768px;
    padding: 60px 32px;
    gap: 32px;
  }

  @include desktop {
    max-width: 1280px;
    padding-bottom: 44px;
    gap: 16px;
    margin-bottom: 16px;
  }
  // &__search-movies {
  //   display: flex;
  //   flex-direction: row;
  //   flex-wrap: wrap;
  //   justify-content: center;
  //   gap: 20px;

  //   @include tablet {
  //     gap: 32px;
  //   }

  //   @include desktop {
  //     gap: 16px;
  //     margin-bottom: 16px;
  //   }
  // }
  // &__favorites {

  //   @include tablet {

  //   }

  //   @include desktop {

  //   }
  // }

  &__card {
    width: 280px;
    margin: 0;
    &:hover {
      scale: 1.03;
    }

    @include tablet {
      width: 336px;
    }

    @include desktop {
      width: 395px;
    }
  }

  &__image {
    object-fit: cover;
    margin-bottom: 10px;
  }

  &__movie-description {
    overflow: hidden;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    color: #000000;

    @include tablet {
      font-size: 12px;
    }

    @include desktop {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  &__title {
    // line-height: 14px;
    text-transform: uppercase;

    @include tablet {
      // line-height: 16px;
    }
  }

  &__genre {
    color: #ff6b08;
  }

  &__screening {
    color: #ff6b08;
  }

  &__rating {
    display: none;
  }
  &__rating-display {
    display: block;
  }
}
