.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination__list {
  list-style: none;
  display: flex;
  align-items: center;
}

.pagination__item {
}

.pagination__item.active span {
  font-weight: bold;
  background-color: #ff6b08;
}

.pagination__item-button {
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 11px 12px;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
}
.pagination__item-button:hover {
  background-color: #fff;
}

.pagination__icon-arrow {
  fill: #000;
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease-in-out;
}

.pagination__item-button:hover .pagination__icon-arrow--left {
  animation: arrowAnimationLeft 1.2s infinite;
}

@keyframes arrowAnimationLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-60%);
    fill: #ff6b08;
  }
  100% {
    transform: translateX(0);
  }
}

.pagination__item-button:hover .pagination__icon-arrow--right {
  animation: arrowAnimationRight 1.2s infinite;
}

@keyframes arrowAnimationRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(60%);
    fill: #ff6b08;
  }
  100% {
    transform: translateX(0);
  }
}

.pagination__item span {
  display: inline-block;
  padding: 12px 16.5px;
  background-color: #fff;
  border-radius: 5px;
  color: black;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.pagination__item:hover span {
  background-color: #f7f7f7;
  font-weight: bold;
}

.pagination__item.active span {
  background-color: #ff6b08;
  color: #fff;
}

.pagination__item.active:hover span {
  background-color: #111;
}
